@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein-btn {
  0% {
    opacity: 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  width: auto;
  height: auto;
}

body {
  background: url("../img/black.jpg") no-repeat fixed;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

.header .heading-1 {
  font-family: "Anton", sans-serif;
  text-align: center;
  color: #66fcf1;
  font-size: 2050%;
  margin-top: -8%;
  letter-spacing: 0.01em;
}
.header .heading-2 {
  color: white;
  font-size: 3rem;
  margin-top: 0;
  text-align: center;
}

@media (max-width: 1024px) {
  .header .heading-1 {
    font-family: "Anton", sans-serif;
    text-align: center;
    color: #66fcf1;
    font-size: 1050%;
    letter-spacing: 0.01em;
  }
  .header .heading-2 {
    color: white;
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
  }
}
.navbar {
  font-size: 1.7rem;
}
.navbar a {
  color: white !important;
}
.navbar #content:hover {
  color: #66fcf1 !important;
  font-size: 1.5rem;
}
.navbar .navbar-brand {
  font-size: 3rem;
  color: white;
}

@media (max-width: 1024px) {
  .navbar.navbar-expand-lg.navbar-light.bg-light .container-fluid .navbar-brand {
    font-size: 2rem;
  }

  #contact {
    font-size: 1.5rem;
  }
}
.about-me .about-me-container h2 {
  text-align: center;
  text-decoration: none;
  margin-left: 1%;
  color: #66fcf1;
  font-size: 5rem;
  margin-top: 14%;
}
.about-me .about-me-container p {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: 1% 15% 10% 15%;
}

#skills-header {
  text-align: center;
  text-decoration: none;
  margin-left: 1%;
  color: #66fcf1;
  font-size: 5rem;
}

@media (max-width: 1024px) {
  #skills--subheader {
    color: white !important;
    text-align: center;
    font-size: 120% !important;
  }
}
#skills--subheader {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.popover-body {
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  .popover-body {
    font-size: 0.9rem;
  }
}
.projects #projects-header {
  text-align: center;
  text-decoration: none;
  margin-left: 1%;
  color: #66fcf1;
  font-size: 5rem;
}
.projects p {
  color: white;
  text-align: center;
  font-size: 150%;
}

.btn-container {
  text-align: center;
  margin: 2% 0 12% 0;
}
.btn-container .btn.btn-primary {
  font-size: 1.4rem;
  background-color: black;
  border-color: #66fcf1;
}
.btn-container #collapse {
  background-color: transparent !important;
}
.btn-container #collapse .card.card-body {
  background-color: transparent;
}
.btn-container #collapse .card.card-body .about-me .about-me-container {
  font-weight: 600;
  height: auto;
  display: flex;
  justify-content: center;
}
.btn-container #collapse .card.card-body .about-me .about-me-container #about-me-p {
  width: 50%;
  background-color: rgba(17, 17, 17, 0.781);
}

.grid-container {
  display: none;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 0.8rem;
  margin: 45vh 10vw 45vh 10vw;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.1rem solid rgba(0, 0, 0, 0.8);
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

.header {
  margin-top: 40vh;
}
.header .heading-2 .one {
  animation: fadein 3s;
  animation-delay: 0;
}
.header .heading-2 .two {
  animation: fadein 5s;
  animation-delay: 0;
}
.header .heading-2 .three {
  animation: fadein 7s;
  animation-delay: 0;
}

@media (max-width: 1024px) {
  .header {
    margin-top: 20rem;
  }
}
.navbar.navbar-expand-lg.navbar-light.bg-light .container-fluid .navbar-nav.margin-override {
  margin-left: 3rem;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .container-fluid .navbar-nav.margin-override li {
  padding-right: 1.5rem;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .container-fluid .navbar-toggler {
  margin-left: 50%;
  background-color: #66fcf1;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .container-fluid .icon-navbar {
  margin-right: 9rem;
  display: inherit;
  list-style: none;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .container-fluid .icon-navbar li {
  padding-right: 20%;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .container-fluid .icon-navbar li #contact {
  color: #66fcf1;
  background-color: transparent;
  margin-top: 35%;
  border-radius: 30%;
  border: none;
  width: 115%;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .container-fluid .icon-navbar li ion-icon {
  color: white;
  margin-top: 50%;
}
@media (max-width: 1024px) {
  .navbar.navbar-expand-lg.navbar-light.bg-light .container-fluid ion-icon {
    display: none;
  }
  .navbar.navbar-expand-lg.navbar-light.bg-light .container-fluid #contact {
    display: none;
  }
  .navbar.navbar-expand-lg.navbar-light.bg-light .container-fluid .navbar-toggler {
    margin-left: 20%;
  }
}

.navbar .navbar-brand {
  margin-left: 3%;
}

.navbar.transparent.navbar-expand-lg.navbar-light.bg-light {
  background-image: url("../img/black.jpg");
}

.navbar-inner {
  background: transparent;
}

.skills#skills .container {
  display: flex !important;
}
.skills#skills .container .row {
  margin-top: 0rem;
}
.skills#skills .container .row .col {
  text-align: center;
  color: white !important;
}
.skills#skills .container .row .col #html {
  width: 55%;
  height: 75%;
}
.skills#skills .container .row .col #bs {
  width: 55%;
  height: 75%;
}
.skills#skills .container .row .col #scss {
  width: 55%;
  height: 75%;
}
.skills#skills .container .row .col #js {
  width: 55%;
  height: 75%;
}
.skills#skills .container .row .col .btn.btn-secondary {
  background-color: transparent;
  border: none;
  padding: 0;
}
.skills#skills .container .row .col .btn.btn-secondary::after {
  border: none;
}

@media (max-width: 1024px) {
  div .row .col {
    padding-right: 0.5rem;
    margin-top: 1%;
  }
  div .row .col #html {
    width: 75% !important;
    height: 85% !important;
  }
  div .row .col #bs {
    width: 75% !important;
    height: 85% !important;
  }
  div .row .col #scss {
    width: 75% !important;
    height: 85% !important;
  }
  div .row .col #js {
    width: 75% !important;
    height: 85% !important;
  }
  div .row .col .btn.btn-secondary {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  div .row .col .btn.btn-secondary::after {
    border: none;
  }
}
@media (max-width: 1024px) {
  .skills .container {
    background-image: none !important;
  }
}
.projects {
  justify-content: center;
  margin-bottom: 5%;
}
.projects #projects-header {
  text-align: center;
  text-decoration: none;
  margin-left: 1%;
  color: #66fcf1;
  font-size: 5rem;
  padding-top: 10rem;
}
.projects p {
  font-size: 2rem;
  color: white;
  text-align: center;
}
.projects .card-holder {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}
.projects .card {
  width: 40rem;
  max-height: 100rem;
  min-height: 80rem;
  background-color: #1f2833;
  margin-right: 4rem;
  border-radius: 5%;
}
.projects .card .skills-list {
  color: white;
  font-size: 1.5rem;
  list-style-type: disc;
}
.projects .card .skills-list #inv {
  color: transparent;
}
.projects .card img {
  border-radius: 20%;
}
.projects .card p {
  font-size: 1.5rem;
  text-align: left;
}
.projects .card h5 {
  color: white;
  font-size: 2rem;
  font-weight: 1000;
  text-align: center;
}
.projects .card hr {
  color: white;
}
.projects .card #btn-container {
  display: flex;
  justify-content: center;
}
.projects .card #btn-container .btn.btn-primary {
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  border-color: #45a29e;
}
.projects .card #btn-container .btn.btn-primary:hover {
  font-size: 1.6rem;
}
.projects .card #btn-container #btn-two {
  background-color: #66fcf1;
  color: black;
  border-color: black;
  border-width: 0.2rem;
  margin-left: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
