@mixin header-intro-font {
  font-family: "Anton", sans-serif;
}

@mixin section-headers {
  text-align: center;
  text-decoration: none;
  margin-left: 1%;

  color: $light-blue;
  font-size: 5rem;
}

@mixin section-paragraphs {
  p {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 1% 15% 10% 15%;
  }
}
