.btn-container {
  #collapse {
    background-color: transparent !important;
    .card.card-body {
      background-color: transparent;

      .about-me {
        #img-container {
          #me {
            width: 15rem;
            height: 17rem;
            margin-bottom: 2rem;
            border-radius: 50%;
            border-width: 0.3rem;
            border-style: solid;
            border-color: $light-blue;
          }
        }
        .about-me-container {
          font-weight: 600;
          height: auto;
          display: flex;
          justify-content: center;

          #about-me-p {
            text-align: center;
            width: 50%;
            background-color: rgba(17, 17, 17, 0.781);
          }
        }
      }
    }
  }
}

//IPADS
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .btn-container {
    margin-top: 2rem;
    #collapse {
      .card.card-body {
        .about-me {
          #img-container {
            #me {
              width: 13rem;
              height: 15rem;
              margin-bottom: 2rem;
              border-radius: 50%;
              border-width: 0.3rem;
              border-style: solid;
              border-color: $light-blue;
            }
          }
          .about-me-container {
            font-weight: 600;
            height: auto;
            display: flex;
            justify-content: center;

            #about-me-p {
              font-size: 1.5rem;
              text-align: center;
              width: 90%;
              background-color: rgba(17, 17, 17, 0.781);
            }
          }
        }
      }
    }
  }
}
//phones
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .btn-container {
    margin-top: 2rem;
    #collapse {
      .card.card-body {
        .about-me {
          #img-container {
            #me {
              width: 13rem;
              height: 15rem;
              margin-bottom: 2rem;
              border-radius: 50%;
              border-width: 0.3rem;
              border-style: solid;
              border-color: $light-blue;
            }
          }
          .about-me-container {
            font-weight: 600;
            height: auto;
            display: flex;
            justify-content: center;

            #about-me-p {
              font-size: 1.5rem;
              text-align: center;
              width: 90%;
              background-color: rgba(17, 17, 17, 0.781);
            }
          }
        }
      }
    }
  }
}
