.header {
  margin-top: 40vh;
  .heading-2 {
    .one {
      animation: fadein 3s;
      animation-delay: 0;
    }
    .two {
      animation: fadein 5s;
      animation-delay: 0;
    }
    .three {
      animation: fadein 7s;
      animation-delay: 0;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .header {
    margin-top: 20vh;
    .heading-2 {
      .one {
        animation: fadein 3s;
        animation-delay: 0;
      }
      .two {
        animation: fadein 5s;
        animation-delay: 0;
      }
      .three {
        animation: fadein 7s;
        animation-delay: 0;
      }
    }
  }
}
