.header {
  margin-top: 45vh;
  .enter-btn {
    background-color: greenyellow;
    width: 10%;
    margin-top: 2%;
    margin-left: 45vw;
    padding: 0.5% 1.5% 0.5% 1.5%;
    border: none;
    border-radius: 45%;
  }
}
