.navbar.navbar-expand-lg.navbar-light.bg-light {
  .container-fluid {
    .navbar-nav.margin-override {
      margin-left: 3rem;
      li {
        padding-right: 1.5rem;
      }
    }
    .navbar-toggler {
      margin-left: 50%;
      background-color: #66fcf1;
    }

    .icon-navbar {
      margin-right: 9rem;
      display: inherit;
      list-style: none;
      li {
        padding-right: 20%;
        #contact {
          color: #66fcf1;
          background-color: transparent;
          margin-top: 35%;
          border-radius: 30%;
          border: none;
          width: 115%;
        }
        ion-icon {
          color: white;
          margin-top: 50%;
        }
      }
    }
    @media (max-width: $breakpoint-tablet) {
      ion-icon {
        display: none;
      }
      #contact {
        display: none;
      }
      .navbar-toggler {
        margin: 0;
      }
    }
  }
}

.navbar {
  .navbar-brand {
    margin-left: 3%;
  }
}

.navbar.transparent.navbar-expand-lg.navbar-light.bg-light {
  background-image: url("/img/black.jpg");
}
.navbar-inner {
  background: transparent;
}
