.projects {
  justify-content: center;
  margin-bottom: 5%;
  #projects-header {
    @include section-headers;
    padding-top: 10rem;
  }
  p {
    font-size: 2rem;
    color: white;
    text-align: center;
  }
  .card-holder {
    display: flex;
    justify-content: center;
    padding-top: 1%;
  }
  .card {
    width: 40rem;
    max-height: 100rem;
    min-height: 80rem;
    background-color: #1f2833;
    margin-right: 4rem;
    border-radius: 5%;
    .skills-list {
      color: white;
      font-size: 1.5rem;
      list-style-type: disc;
      #inv {
        color: transparent;
      }
    }

    img.card-img-top {
      border-radius: 20%;
    }
    p {
      font-size: 1.5rem;
      text-align: left;
    }
    h5 {
      color: white;
      font-size: 2rem;
      font-weight: 1000;
      text-align: center;
    }
    hr {
      color: white;
    }
    #btn-container {
      display: flex;
      justify-content: center;

      .btn.btn-primary {
        font-weight: 400;
        font-size: 1.5rem;
        color: white;
        background-color: black;
        border-color: #45a29e;
        &:hover {
          font-size: 1.6rem;
        }
      }
      #btn-two {
        background-color: $light-blue;
        color: black;
        border-color: black;
        border-width: 0.2rem;
        margin-left: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .projects {
    justify-content: center;
    margin-bottom: 5%;
    #projects-header {
      @include section-headers;

      padding-top: 10rem;
    }

    .card-holder {
      display: block;

      justify-content: center;
      padding-top: 1%;
    }
    .card {
      width: auto;
      height: auto;

      background-color: #1f2833;
      margin: 0 !important;
      border-radius: 5%;
      border-style: solid;
      border-color: black;
      border-width: 1.5rem;

      .skills-list {
        color: white;
        font-size: 1.5rem;
        list-style-type: disc;
        #inv {
          color: transparent;
        }
      }

      img.card-img-top {
        margin-top: 1rem;
        margin-left: 25%;
        border-radius: 20%;
        height: 30rem;
        width: 30rem;
      }
      p {
        font-size: 1.5rem;
        text-align: left;
      }
      h5 {
        color: white;
        font-size: 2rem;
        font-weight: 1000;
        text-align: center;
      }
      hr {
        color: white;
      }
      #btn-container {
        display: flex;
        justify-content: center;
        margin: 0 !important;
        .btn.btn-primary {
          font-weight: 400;
          font-size: 1.5rem;
          color: white;
          background-color: black;
          border-color: #45a29e;
          &:hover {
            font-size: 1.6rem;
          }
        }
        #btn-two {
          background-color: $light-blue;
          color: black;
          border-color: black;
          border-width: 0.2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .projects {
    justify-content: center;
    margin-bottom: 5%;
    #projects-header {
      @include section-headers;

      padding-top: 10rem;
    }

    .card-holder {
      display: block;

      justify-content: center;
      padding-top: 1%;
    }
    .card {
      width: auto;
      height: auto;

      background-color: #1f2833;
      margin: 0 !important;
      border-radius: 5%;
      border-style: solid;
      border-color: black;
      border-width: 1.5rem;

      .skills-list {
        color: white;
        font-size: 1.5rem;
        list-style-type: disc;
        #inv {
          color: transparent;
        }
      }

      img.card-img-top {
        margin-top: 1rem;
        margin-left: 7%;
        border-radius: 20%;
        height: 30rem;
        width: 30rem;
      }
      p {
        font-size: 1.5rem;
        text-align: left;
      }
      h5 {
        color: white;
        font-size: 2rem;
        font-weight: 1000;
        text-align: center;
      }
      hr {
        color: white;
      }
      #btn-container {
        display: flex;
        justify-content: center;
        margin: 0 !important;
        .btn.btn-primary {
          font-weight: 400;
          font-size: 1.5rem;
          color: white;
          background-color: black;
          border-color: #45a29e;
          &:hover {
            font-size: 1.6rem;
          }
        }
        #btn-two {
          background-color: $light-blue;
          color: black;
          border-color: black;
          border-width: 0.2rem;
        }
      }
    }
  }
}
