.skills {
  .container {
    width: 100vw;
    .row {
      .col {
        text-align: center;
        color: white !important;

        #bs {
          width: 50%;
          height: 100%;
        }
        #html {
          width: 50%;
          height: 100%;
        }
        #scss {
          width: 50%;
          height: 100%;
        }
        #js {
          width: 50%;
          height: 100%;
        }
      }
    }
  }
}
