.learn-more {
  text-align: center;
  margin-top: 1%;
  font-size: 2rem;
  a {
    color: $light-blue;
    animation: fadein-btn 3s;
    &:hover {
      opacity: 50%;
      cursor: pointer;
    }
  }
}
