*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines that 1rem is, therefore shouldn't go in typo file. Responsive Key
  font-size: 62.5%;
}

body {
  background-color: #3aafa9;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
