.header {
  display: none;
  .heading-intro-1,
  .heading-intro-2 {
    @include header-intro-font;
    text-align: center;
  }
}

.grid-item {
  font-size: 5rem;
}
.navbar {
  font-size: 1rem;
  .navbar-brand {
    font-size: 3rem;
  }
}
