.header {
  .heading-1 {
    @include header-intro-font;
    text-align: center;
    color: $light-blue;
    font-size: 2050%;
    margin-top: -8%;
    letter-spacing: 0.01em;
  }
  .heading-2 {
    color: white;
    font-size: 3rem;
    margin-top: 0;
    text-align: center;
  }
}

.navbar {
  font-size: 1.9rem;
  .container-fluid {
    .navbar-brand {
      font-size: 4rem;
      color: white;
    }
  }
  #content.nav-link.active {
    color: white;
    &:hover {
      color: $light-blue;
      font-size: 2rem;
    }
  }
}

.about-me {
  .about-me-container {
    display: flex;
    justify-content: center;
    #about-me-p {
      margin: 0;
    }
    h2 {
      @include section-headers;
      margin-top: 14%;
    }
    @include section-paragraphs;
  }
}

#skills-header {
  @include section-headers;
}
#skills--subheader {
  color: white;
  text-align: center;
  font-size: 2rem;
}
.popover-body {
  font-size: 1.7rem;
}

//PROJECTS
.projects {
  #projects-header {
    @include section-headers;
  }
  p {
    color: white;
    text-align: center;
    font-size: 150%;
  }
}

@media (max-width: $breakpoint-tablet) {
  .navbar.navbar-expand-lg.navbar-light.bg-light {
    .container-fluid {
      .navbar-brand {
        font-size: 2rem;
      }
      #contact {
        font-size: 1.5rem;
      }
    }
  }

  .header {
    .heading-1 {
      @include header-intro-font;
      text-align: center;
      color: $light-blue;
      font-size: 1050%;
      letter-spacing: 0.01em;
    }
    .heading-2 {
      color: white;
      font-size: 2rem;
      margin-top: 0;
      text-align: center;
    }
  }

  #skills--subheader {
    color: white !important;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 5rem 0 5rem;
  }

  .popover-body {
    font-size: 0.9rem;
  }
}
