.header {
  .heading-1 {
    @include header-intro-font;
    text-align: center;
    color: $light-blue;
    font-size: 2050%;
    margin-top: -8%;
    letter-spacing: 0.01em;
  }
  .heading-2 {
    color: white;
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
  }
}

.navbar {
  font-size: 1.7rem;
  a {
    color: white !important;
  }

  .navbar-brand {
    font-size: 3rem;
    color: white;
  }
}

@media (max-width: $breakpoint-tablet) {
  .navbar.navbar-expand-lg.navbar-light.bg-light {
    .container-fluid {
      .navbar-brand {
        font-size: 2rem;
      }
    }
  }
  #contact {
    font-size: 1.5rem;
  }
}
